npm init -y
npm i express
npm i bcrypt validator jsonwebtoken cookie-parser dotenv
npm i -D nodemon
npm i -D prisma
npx init prisma
npm i @prisma/client
npx prisma generate
touch prisma/index.js

to start up the PRISMA STUDIO WE DO:- npx prisma studio
NOTE:- IN .ENV its just the JWT_SECRET and MONGODB_URL string written only.
